#shpEncartRayonEvent { width: 962px; margin: 20px auto 0; }

#shpEncartRayonEvent .chapeau-ray { width: 960px; border: 1px solid #B71A01; }

/* end of zoneLibre css */
,#contentBG #container { padding-top: 0; }

,#container #tetiere { height: auto; margin-top: 10px; line-height: normal; border-bottom: none; text-indent: 0; color: #B71A01; }

/* end of zoneLibre css */
